body {
  
    background-position: center;
 
    text-align: center;
 
 }
 
 html {
     font-size: 100%;
     font-family: 'Roboto', sans-serif;
     background-image: url(../mult/flores2.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 600px / (2);
     padding: 12%;
 
 }



.logo { 
    width: 10px;
    background-position: center;
    border-radius: 50%;
    text-align: center
    
}

nav {
    border: 2px;
    
     ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        order: 1;
        list-style: none;
        text-decoration: white;
        padding: 0%;
     
     li {
        border: 2px solid  white;
        width: 700px * 2;
        height: 50px;
        padding: 10px;
        background-image: url(../mult/rosa-resumen-antecedentes-lineas-verticales-diseno-grafico-vectorial_1164-1438.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        margin: 10px;
        font-size: 20px;
     a {
         color: black
     }}
    }
    }

    .Productos { 
        display: grid;
        grid-template-rows: auto;
      
        
    
    
    .grid-area {
    display: grid;
        grid-template-areas:
         "header header header"
         "main main main"
         "footer footer footer";
       grid-template-columns: repeat(3, 2fr);
       gap: 10px;
     color: salmon;
       
    
    
    .grid-area {
       text-align: center;
       font-size: 15px;

    
    
    .grid-img{
    
        border: 1px solid salmon;
    
    
    }}}}

    $boxRepsonsive: 527px;


    fieldset { 
        background-image: url(../mult//form2.jpg);
        background-size: cover;
    }

    .flex-footer {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    
        
        
        .box-footer {
            background-position: center;
            margin: 120px;
        }}